
body {
    background: url(../images/bg.jpg);
}
body, html {
    height: 100%;
}
body {
    line-height: 24px;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif;
}

.user-login {
    position: relative;
    left: 0;
    top: 0;
    padding: 120px 0;
    min-height: 100%;
    box-sizing: border-box;
}

.user-login-main {
    width: 375px;
    margin: 0 auto;
    box-sizing: border-box;
    background: #ccc;
    background-color: rgba(248,248,255,0.5);
    border-radius: 5px;
}

.user-login-header {
    text-align: center;
    padding-top: 20px;
}

.user-login-header h2 {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
}

.user-login-box {
    padding: 20px;
}

.user-login-icon {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 38px;
    line-height: 36px;
    text-align: center;
    color: #d2d2d2;
}

.form-control, .layui-textarea {
    display: block;
    width: 100%;
    padding-left: 10px;
}


.form-group button.btn-default {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	margin-left:0;
	outline: 0;
    -webkit-appearance: none;
    transition: all .3s;
    -webkit-transition: all .3s;
    box-sizing: border-box;
}
.form-group button.btn-default:hover{
	background-color: #2B9F92
}


.user-login-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 30px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    color: rgba(0,0,0,.5);
}

.user-login-footer a{ 
	color:rgba(0,0,0,.5);
	transition: all .3s;
    -webkit-transition: all .3s;
}

.user-login-footer a:hover{color:rgba(0,0,0,1); text-decoration:none;}