<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>[title]</title>
 <link rel="shortcut icon" href="/images/favicon.ico" />
<link rel="stylesheet" href="/static/admin/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/admin/assets/css/pe-icon-7-filled.css">
   <link rel="stylesheet" href="/static/admin/assets/css/style.css">
	 <script src="/static/admin/assets/js/vendor/jquery-2.1.4.min.js"></script>
	<script src="/static/admin/assets/js/plugins.js"></script>
	<script src="/static/admin/assets/js/main.js"></script>
	 <link rel="stylesheet" href="/static/admin/layui/assets/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/admin/layui/assets/css/admin.css">
	   <link rel="stylesheet" href="/static/admin/layui/assets/css/view.css"/>
			<script src="/static/admin/assets/layui.js"></script>
<script src="/static/admin/assets/layui.all.js"></script>


</head>