<!--  左侧导航栏 -->
        <div class="layui-side custom-admin">
            <div class="layui-side-scroll">

                <div class="custom-logo">
                    <img src="/static/home/images/logo.png" alt=""/>
                    <h1>后台基础系统</h1>
                </div>
                <ul id="Nav" class="layui-nav layui-nav-tree">
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="layui-icon">&#xe609;</i>
                            <em>主页</em>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="home">控制台</a></dd>
                        </dl>
                    </li>                 
					{foreach $menu as $k=>$a}	
						<!--  管理员 -->
						{if condition="$role=='all'"}
							  <li class="layui-nav-item">
							   <a href="javascript:;"> 
								<i class="layui-icon">{$a.icon}</i>
								<em>{$a.name}</em>
							   </a>
								<dl class="layui-nav-child">
									{foreach $a['child'] as $b}						
										 <dd>
											<a href="{$b.url}">
												<i class="layui-icon">{$b.icon}</i>
												<em>{$b.name}</em>
											</a>
										</dd>
									{/foreach}
								</dl>
								</li>
						<!--  管理员 -->
						 {else}
								{in name="$a.id" value='$role'}
									 <li class="layui-nav-item">
										  <a href="javascript:;"> 
											
											<em>{$a.name}</em>
										  </a>
											<dl class="layui-nav-child">
											{foreach $a['child'] as $b}						
											<dd>
												<a href="{$b.url}">
													<i class="layui-icon">{$b.icon}</i>
													<em>{$b.name}</em>
												</a>
											</dd>
											{/foreach}
											</dl>
									 </li>
								 {/in}

						{/if}
						
					{/foreach}
					<!-- <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="layui-icon">&#xe857;</i>
                            <em>组件</em>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="views/form.html">表单</a></dd>
                            <dd>
                                <a href="javascript:;">页面</a>
                                <dl class="layui-nav-child">
                                    <dd>
                                        <a href="login.html">登录页</a>
                                    </dd>
                                </dl>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="layui-icon">&#xe612;</i>
                            <em>用户</em>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="views/users.html">用户组</a></dd>
                            <dd><a href="views/operaterule.html">权限配置</a></dd>
                        </dl>
                    </li>-->
                </ul>
            </div>
        </div>
