<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>{$title}</title>
<link rel="stylesheet" href="/static/home/css/style.css">
<link rel="stylesheet" href="/static/admin/layui/assets/css/layui.css" media="all"> 
 <!-- Link Swiper's CSS -->
 <link rel="stylesheet" href="/static/home/swiper/css/swiper.min.css">
</head>
<body>
<div class="header">
	<ul class="layui-nav layui-bg-green" style='height:100px;line-height:100px;'>
		 <li  style='float:left;margin-left:10%'>
			<img src="/static/home/images/logo.png" style='width:100px;height:auto;'>
		</li>
		<div id="" class="" style='width:50%;margin:0 auto'>		
			 <li class="layui-nav-item">
					<a href="{:url('index/index')}">{:lang('home')}</a>
			 </li>
			 {foreach $data as $nav}				
					{if condition="$nav.id eq $id"} <li class="layui-nav-item  layui-this">
					{else} <li class="layui-nav-item">
					{/if}
				<a class="a1" href="{:url($nav.url.'/index','id='.$nav.id)}">{$nav.name}</a>
				{if condition="$nav.children neq null"}
					<dl class="layui-nav-child">				
						{foreach $nav.children as $navclid}
						<dd>
							<a href="{:url($navclid.url.'/index','id='.$navclid.id)}">
								{$navclid.name}
							</a>
						</dd>
						{/foreach}
					</dl>	
				{/if}
			</li>
			{/foreach}
			{if condition="$user eq null"}
				<li class="layui-nav-item" style='float:right;margin-top:15px;line-height:80px;' >
					<a class="a1" href="{:url('login/index')}">{:lang('login')}</a>
				</li>
			{else}
				<li class="layui-nav-item" style='float:right;margin-top:15px;line-height:80px;' >
					<a class="a1" >Hi,{$user}</a>
					<dl class="layui-nav-child">
						<dd><a href="{:url('member/index')}">{:lang('member')}</a></dd>
						<dd><a href="{:url('login/loginout')}">{:lang('logout')}</a></dd>	
					</dl>
				</li>
			{/if}
			<li class="layui-nav-item" style='float:right;margin-top:15px;line-height:80px;' >
					<a class="lang" lang='cn' >{:lang('zn')}</a>
					<dl class="layui-nav-child">
						<dd><a class='lang' lang='en'>{:lang('en')}</a></dd>
					</dl>
			</li>
		</div>
	</ul>
</div>
<script src="/static/admin/assets/layui.js"></script>
