@charset "utf-8";
/*
 
 * 17素材vip建站专区模块代码
 * 详尽信息请看官网：http://www.17sucai.com/pins/vip
 *
 * Copyright , 温州易站网络科技有限公司版权所有
 * 图片不能商用，代码可商用。
 
 * 请尊重原创，未经允许请勿转载。
 * 在保留版权的前提下可应用于个人或商业用途
 
*/

*{margin:0;padding:0}
body{font-family:"微软雅黑";font-size:12px;height:100%;line-height:22px;width:100%;background:#eeeeee;}
a{text-decoration:none;cursor:pointer;transition:all .3s;outline:none}
ul{list-style:none}
.lf{float:left}
.rg{float:right}
.clear{clear:both;height:0px;line-height:0px;font-size:0px}
.head{position:fixed;top:0px;left:0px;width:100%;min-width:1000px;z-index:9999;background:#fff;border-bottom:1px solid #ddd;height:100px;transition:all .3s}
.logo{padding-top:27px;padding-left:2.18%;width:302px;transition:all .3s}
.logo a{display:block;position:relative;overflow:hidden}
.logo img{width:100%;position:relative;z-index:100}
.logo .p1{background:#ff6d07;position:absolute;top:0%;left:0px;width:100%;height:80%;}
.nav{width:60%;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}
.nav ul li{float:left;width:14.28%;height:100px;background:url(/static/home/images/1_02.jpg) right center no-repeat;transition:all .3s}
.nav ul li .a1{line-height:100px;display:block;text-align:center;font-size:16px;color:#333;transition:all .3s}
.nav ul li:hover .a1{color:#f08519;transition:all .3s}
.nav ul li .div1{display:none;background:#fff;width:100%;left:0px;position:absolute;top:101px;z-index:100}
.nav ul li .div1 .p1{width:57.4%;float:right;height:65px;line-height:65px}
.nav ul li .div1 .p1 a{color:#999;font-size:14px;text-transform:uppercase;background:url(../images/1_26.jpg) center bottom no-repeat;display:inline-block;height:65px;line-height:65px;margin-right:5%;transition:all .5s}
.nav ul li .div1 .p1 a:hover{background:url(/static/home/images/1_27.jpg) center bottom no-repeat;color:#1a1a1a}
.nav ul li .mad3 .p1 .pad{margin-left:30%}
.nav ul li .mad4 .p1 .pad{margin-left:44%}
.nav ul li .mad5 .p1 .pad{margin-left:45%}
.nav ul li .mad6 .p1{text-align:right}
#login_banner{
	width: 100%;
	height:530px;
	position: relative;
	background-image: url(../images/login_banner.png);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;

}
.a_txt{display:none}
/*小于1600大于1200稍微调整下字体*/
@media screen and (max-width: 1600px) and (min-width:1200px) {
.nav ul li .a1{font-size:14px}
.nav ul li .div1 .p1 a{font-size:12px}
.foot_top ul{margin-left:60px}
.nav ul li .div1 .p1{width:58.1%}
}
/*移动端导航*/
@media screen and (max-width: 1024px) and (min-width: 0px){
.head{display:none}
.moblie_head{display:block;height:44px;background:#fff;position:fixed;top:0px;left:0px;width:100%;z-index:9999;border-bottom:1px solid #ddd}
.moblie_head .lf{padding-top:10px;padding-left:5%}
.moblie_head .lf img{height:24px}
.moblie_head .rg{padding-right:5%;padding-top:14px}
.moblie_head .rg a img{height:16px;vertical-align:top}
.a_txt{display:block;position:fixed;top:0px;left:0px;width:0px;height:0px;overflow:hidden;z-index:10000}
.a_txt .div1{position:absolute;width:100%;height:100%;background:#0b0d19;filter:alpha(opacity=0);opacity:0;left:0px;top:0px;z-index:1}
.a_txt .div2{position:absolute;width:20%;left:0px;top:5%;z-index:100;text-align:center;filter:alpha(opacity=0);opacity:0}
.a_txt .div3{position:absolute;width:80%;right:0px;top:0px;background:#0b0d19;height:100%;z-index:100;right:-80%}
.a_txt .div3 ul{padding-left:5%;padding-right:5%}
.a_txt .div3 ul li{border-bottom:1px solid #232530}
.a_txt .div3 ul li a{display:block;height:45px;color:#fff;line-height:45px;padding-left:5%;font-size:16px}
.a_txt .div3 ul li .a_js2{background:url(/static/home/images/plus.png) 95% center no-repeat;-webkit-transition:all 0s;-moz-transition:all 0s;transition:all 0s}
.a_txt .div3 ul li .a_js2_on{background:url(/static/home/images/plus.gif) 95% center no-repeat;-webkit-transition:all 0s;-moz-transition:all 0s;transition:all 0s}
.a_txt .div3 ul li .a_txt2{display:none}
.a_txt .div3 ul li .a_txt2 a{height:40px;line-height:40px;font-size:14px}
}
.left{ float:left}

/*dianzan*/

 .heart {
 		
	    background: url(../images/web_heart_animation.png);
	    background-position: left;
	    background-repeat: no-repeat;
	    height: 50px;
	    width:50px;
	    cursor: pointer;
	    position: absolute;
		top:70px;
		left:230px;	   
        background-size:2900%;
    }
    .heart:hover, .heart:focus{
    background-position: right;
	}

    @-webkit-keyframes heartBlast {
    0% {
	    background-position: left;
	}
	100% {
	    background-position: right;
	}
	}

	@keyframes heartBlast {
	    0% {
	    background-position: left;
	}
	100% {
	    background-position: right;
	}
	}

	.heartAnimation {
    display: inline-block;
    -webkit-animation-name: heartBlast;
    animation-name: heartBlast;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: steps(28);
    animation-timing-function: steps(28);
    background-position: right;
    }
    .feed{clear: both; margin-bottom: :20px; height: 150px; position: relative;}
    a{color: #7ac9ed;}
    p{margin: 0px; padding: 0px;}
    .likeCount{font-family: 'Georgia', Times, Times New Roman, serif;
				margin-top: 24px;
				margin-left:10px;
				font-size: 20px;
				line-height:8px;
				color: #999999}


/*news  start*/
.news-banner{background:#1baadb;width:100%;height:120px;}
.news-banner-word{width:50%;height:80px;margin:0 auto;text-align:center;color:#ffffff;font-size:30px;letter-spacing:14px;line-height:80px;}
.locate{width:100%;height:60px;}
.locate-left{width:25%; height:60px;margin-left:25%;line-height:60px;color:#999}
.news-body{background-color:#f2f2f2;height:auto;padding:20px}
.news-content{width:50%;height:auto;margin:0 auto;}
.news-content ul{margin:0 auto;position: relative;	
	list-style: none;
	-webkit-perspective: 400px;
	-moz-perspective: 400px;
	-ms-perspective: 400px;
	-o-perspective: 400px;
	perspective: 400px;}
@keyframes move{
from{ opacity:0; margin-left:500px;}
to{ opacity:1; margin-left:0;}
}
.news-content ul li{width:100%;height:200px;padding:10px;margin-bottom:20px;background-color:white;
animation:move 1s forwards; animation-play-state:paused;position: relative;
	-webkit-transform: translateZ(0px);
	-moz-transform: translateZ(0px);
	-ms-transform: translateZ(0px);
	-o-transform: translateZ(0px);
	transform: translateZ(0px);
border-bottom:1px solid #f2f2f2;}
.news-content ul li:first-child{margin-top:10px;clear:both;z-index: 2;}
.grow .move { animation-play-state:running;}

.article-left{width:25%;height:100%;display:block;float:left}
.article-right{width:75%;height:auto;display:block;}
.news-title{font-size:24px;text-align:left;color:#2a333c}
.news-descript{width:100%;height:90px;overflow:hidden;color:#76838f;line-height:30px;}
.news-time{width:100%;height:20px;margin-top:10px;color:#a3afb7}

/*news end*/



.remake-name{width:100%; font-size:36px; font-weight:bold; line-height:200px; text-align:center; margin:0 auto;font-family: "微软雅黑";}
.remake-info{width:40%; margin:0 auto; height:auto;font-family: "微软雅黑";}


.hideShowPassword-toggle { background-image: url(../images/yy.gif); background-position: 0 center; background-repeat: no-repeat; cursor: pointer; height: 100%; overflow: hidden; text-indent: -9999em; width: 44px;  }
 .hideShowPassword-toggle-hide { background-image: url(../images/yy2.gif); background-position: 0px center; }


.index-all{width:50%; height:200px; margin:0 auto; background:#44B5DF;border-radius:25px; margin-top:10%}
.index-top{ display:block;width:100%; height:auto;font-size:35px; line-height:60px; text-align:center; color:#fff; padding-top:20px; font-family:"微软雅黑";}
.index-searchall{padding: 30px 100px 10px;}
@media screen and (min-width:1025px) and (max-width:1300px;) {
.heart {
	    background: url(../images/web_heart_animation.png);
	    background-position: left;
	    background-repeat: no-repeat;
	    height: 50px;
	    width:50px;
	    cursor: pointer;
	    position: absolute;
		top:70px;
		left:30%;	   
        background-size:2900%;
    }
	 .heart:hover, .heart:focus{
    background-position: right;
	}

    @-webkit-keyframes heartBlast {
    0% {
	    background-position: left;
	}
	100% {
	    background-position: right;
	}
	}

	@keyframes heartBlast {
	    0% {
	    background-position: left;
	}
	100% {
	    background-position: right;
	}
	}

	.heartAnimation {
    display: inline-block;
    -webkit-animation-name: heartBlast;
    animation-name: heartBlast;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: steps(28);
    animation-timing-function: steps(28);
    background-position: right;
    }



}
@media screen and (min-width:1025px) {
.news-banner-word{width:50%;height:80px;margin:0 auto;text-align:center;color:#ffffff;font-size:40px;letter-spacing:14px;line-height:80px;}
.news-banner{background:#1baadb;width:100%;height:100px;}

}


@media screen and (max-width:1024px) {
.news-banner-word{width:50%;height:80px;margin:0 auto;text-align:center;color:#ffffff;font-size:40px;letter-spacing:14px;line-height:80px;}
.locate-left{width:70%; height:60px;margin-left:20%;line-height:60px;color:#999}
.news-content{width:80%;height:auto;margin:0 auto;}
.news-title{font-size:16px;text-align:left;color:#2a333c}
.news-banner{background:#1baadb;width:100%;height:100px;}
 .heart {
	    background: url(../images/web_heart_animation.png);
	    background-position: left;
	    background-repeat: no-repeat;
	    height: 50px;
	    width:50px;
	    cursor: pointer;
	    position: absolute;
		top:70px;
		left:27%;	   
        background-size:2900%;
    }
	 .heart:hover, .heart:focus{
    background-position: right;
	}

    @-webkit-keyframes heartBlast {
    0% {
	    background-position: left;
	}
	100% {
	    background-position: right;
	}
	}

	@keyframes heartBlast {
	    0% {
	    background-position: left;
	}
	100% {
	    background-position: right;
	}
	}

	.heartAnimation {
    display: inline-block;
    -webkit-animation-name: heartBlast;
    animation-name: heartBlast;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: steps(28);
    animation-timing-function: steps(28);
    background-position: right;
    }
	.likeCount{font-family: 'Georgia', Times, Times New Roman, serif;
				margin-top: 30px;
				margin-left:30px;
				font-size: 20px;
				line-height:8px;
				color: #999999}
}
@media screen and (max-width:768px) {

.locate-left{width:80%; height:60px;margin-left:10%;line-height:60px;color:#999}
.news-content{width:100%;height:auto;margin:0 auto;}
.news-title{font-size:16px;text-align:left;color:#2a333c}
.news-banner{background:#1baadb;width:100%;height:90px;}
.news-banner-word{width:50%;height:80px;margin:0 auto;text-align:center;color:#ffffff;font-size:30px;letter-spacing:14px;line-height:80px;}




}

@media screen and (max-width:736px) {
.news-banner-word{width:40%;height:30px;text-align:center;margin:0 auto;color:#ffffff;font-size:20px;letter-spacing:14px;line-height:50px;}
.locate-left{width:80%; height:60px;margin-left:10%;line-height:60px;color:#999}
.news-content{width:100%;height:auto;margin:0 auto;}
.news-title{font-size:16px;text-align:left;color:#2a333c}
}
@media screen and (max-width:734px) {
.news-banner-word{width:50%;height:80px;margin:0 auto;text-align:center;color:#ffffff;font-size:30px;letter-spacing:14px;line-height:80px;}
.locate-left{width:80%; height:60px;margin-left:10%;line-height:60px;color:#999}
.news-content{width:100%;height:auto;margin:0 auto;}
.news-title{font-size:16px;text-align:left;color:#2a333c}
}
@media screen and (max-width:684px) {
.locate-left{width:80%; height:60px;margin-left:10%;line-height:60px;color:#999}
}
@media screen and (max-width:667px) {
.news-banner-word{width:50%;height:80px;margin:0 auto;text-align:center;color:#ffffff;font-size:30px;letter-spacing:14px;line-height:80px;}
.locate-left{width:80%; height:60px;margin-left:10%;line-height:60px;color:#999}

}
@media screen and (max-width:414px) {
.news-banner-word{width:50%;height:80px;margin:0 auto;text-align:center;color:#ffffff;font-size:30px;letter-spacing:14px;line-height:80px;}
.locate-left{width:80%; height:60px;margin-left:10%;line-height:60px;color:#999}
.news-content{width:100%;height:auto;margin:0 auto;}
.news-title{font-size:16px;text-align:left;color:#2a333c}

}