{include file="public/header" title='$title'}
<!-- Swiper 轮播-->
<div class="swiper-container">
	<div class="swiper-wrapper">
		{foreach $banner as $images}
            <div class="swiper-slide"><img src="{$images.image_address}" width="100%" height="auto" border="0" alt=""></div>
		{/foreach}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Pagination -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
<div id="" class="" style='width:100%;height:400px'>
	
</div>
<script src="/static/admin/layui/assets/layui.all.js"></script>
<script type="text/javascript">
//页面层-图片
layer.open({
  type:1,
  title: false,
  closeBtn: 0,
  area: ['auto'],
  offset: ['300px', '750px'],
  skin: 'layui-layer-nobg', //没有背景色
  shadeClose: true,
  content: "<a href=''><img src='/uploads/home.jpg' width='500px' height='auto' border='0'></a>"
});
</script>
{include file='public/footer'}