{include file='public/header'}
<div class="" style='width:100%;height:200px;background:#50C5CD;text-align:center;color:white;font-size:30px;line-height:200px'>
	{$title}
</div>
<div class="locate">
	<div class="locate-left left">
		你的位置 / 网站首页 / {$title}
	</div>
</div>
<div class="layui-container" style='background:#fff;padding:40px'>

	<div class="layui-row">
		
		<div style='color:#37474f;'>
			<h1>{$title}</h1>	
		</div>

		{foreach $article as $a}
		<div  style='color:#a3afb7;margin-top:10px'>
			<div id="" class="" style='width:20%;float:left'>
				{$a.addtime|date='Y-m-d H:i',###}  &nbsp; &nbsp;<svg t="1576544834072" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2867" width="12" height="12"><path d="M512 608a96 96 0 1 1 0-192 96 96 0 0 1 0 192m0-256c-88.224 0-160 71.776-160 160s71.776 160 160 160 160-71.776 160-160-71.776-160-160-160" fill="#707070" p-id="2868"></path><path d="M512 800c-212.064 0-384-256-384-288s171.936-288 384-288 384 256 384 288-171.936 288-384 288m0-640C265.248 160 64 443.008 64 512c0 68.992 201.248 352 448 352s448-283.008 448-352c0-68.992-201.248-352-448-352" fill="#707070" p-id="2869"></path></svg> &nbsp;<a id='pagenum' style='color:#a3afb7'></a>
			</div>
			<div>
				<div class="heart " id="like1" rel="like"></div> 
				<a class="likeCount" id="likeCount1">{$thumb}</a>
          </div>
		</div>

		<div  style='margin-top:20px;line-height:40px;font-size:14px;font-weight:300'>
			{$a.artcontent}
		</div>

		{/foreach}
	 </div>
	 <!--上 下文章 -->
	 <div style='margin:20px'>
		<div class="left">

				{foreach $pageprev as $prev}
			
				<a 
				{if condition="$prev.id eq null"} 
				
					{else}href="{:url('shownews/index')}?id={$prev.id}"
				
				{/if}  
				>
				
				上一篇：{$prev.title}</a>
			
			{/foreach}
		</div>
		<div class="rg">
			{foreach $pagenext as $next}

				<a 
				{if condition="$next.id eq null"} 
				
					{else}href="{:url('shownews/index')}?id={$next.id}"
				
				{/if}
				>
				
				下一篇：{$next.title}</a>
			
			{/foreach}
		</div>
	</div>
	 <!--上 下文章 -->	
</div>


<script src="/static/home/js/jquery-1.11.0.js"></script>

<script src="/static/admin/layui/assets/layui.all.js"></script>

<script>
	$(document).ready(function()
	{
    
	$('body').on("click",'.heart',function()
    {
    	
    	var A=$(this).attr("id");
    	var B=A.split("like");
        var messageID=B[1];

		var user ="{$user}";
        var C=parseInt($("#likeCount"+messageID).html());
    	$(this).css("background-position","")
        var D=$(this).attr("rel");
       
        if(D === 'like') 
        {      

			if(user==''){
				layer.msg('用户未登陆');
				return;
			}

			 $.ajax({
				
				type:"POST",
				
				url:"{:url('shownews/thumb')}",
				
				dataType:"json",
				
				data:{"id":{$artid}},   //传给PHP的参数值
				
				success:function(data){
				
					   $("#likeCount1").html(data); //给div添加PHP返回的JSON浏览量数值
				
				},
				error:function(data){
				
					  $("#likeCount1").html("0"); //给div添加浏览量数值
				
				},
				
			    });
			$("#likeCount"+messageID).html(C+1);

			$(this).addClass("heartAnimation").attr("rel","unlike");
        
        }
        else
        {
			 $.ajax({
				
				type:"POST",
				
				url:"{:url('shownews/delthumb')}",
				
				dataType:"json",
				
				data:{"id":{$artid}},   //传给PHP的参数值
				
				success:function(data){
				
					   $("#likeCount1").html(data); //给div添加PHP返回的JSON浏览量数值
				
				},
				error:function(data){
				
					  $("#likeCount1").html("0"); //给div添加浏览量数值
				
				},
				
			    });
			$("#likeCount"+messageID).html(C-1);
			$(this).removeClass("heartAnimation").attr("rel","like");
			$(this).css("background-position","left");
        }


    });


	});
	</script>
<script>

$(document).ready(function(){ 
		
		 $.ajax({
				
				type:"POST",
				
				url:"{:url('shownews/pageview')}",
				
				dataType:"json",
				
				data:{"id":{$artid}},   //传给PHP的参数值
				
				success:function(data){
				
					   $("#pagenum").html(data); //给div添加PHP返回的JSON浏览量数值
				
				},
				error:function(data){
				
					  $("#pagenum").html("0"); //给div添加浏览量数值
				
				},
				
			    });
				
	}); 
</script>
{include file='public/footer'}