<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>后台登录界面</title>
<meta http-equiv="Content-Type"  />
<link rel="stylesheet" type='text/css' href="/static/admin/css/style(2).css">
<link rel="stylesheet" type='text/css' href="/static/admin/css/reset(2).css">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
<div class='body'>

	<div id="particles-js">
		
		<div class="login">
			
			<div class="login-top">THINK登录 <a href="{:url('goods/index')}"></a></div>
			
			<form id="defaultForm" class="form-horizontal" role="form"  action="{:url('Login/login')}"  method="post">
				
				<div class="login-center clearfix">
					<div class="login-center-img"><img src="/static/admin/images/name.png"/></div>
					
					<div class="login-center-input">
						<input type="text" id="firstname" name ='account' value="" placeholder="请输入您的用户名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的用户名'"/>
						<div class="login-center-input-text">用户名</div>
					</div>
				</div>
			
			<div class="login-center clearfix">
				
				<div class="login-center-img"><img src="/static/admin/images/password.png"/></div>
				
				<div class="login-center-input">
					<input type="password" id="password-1" name='passwd' value="" placeholder="请输入您的密码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的密码'"/>
					<div class="login-center-input-text">密码</div>
				</div>
			</div>

			<div class="login-center clearfix">
				<div class="login-center-img"><img src="/static/admin/images/password.png"/></div>
				<div id="" class="login-center-input">
					<input type="text" id="" style='width:40%;' name ='captcha' value="" placeholder="验证码..." onfocus="this.placeholder=''" onblur="this.placeholder='请输入验证码'"/>
					<img src="{:captcha_src()}" alt="captcha" onclick="javascript:this.src='{:captcha_src()}?tm='+Math.random();" style="cursor: pointer"/>
				</div>
			
				
			
			</div>
			<div class="login-center clearfix">

				<button type="submit"  class="login-button" id="sub">登录</button> 
			
			</div>
			
		
			</form>
		
		<div class="sk-rotating-plane"></div>
	
	</div>

</div>
<script src="/static/admin/js/particles.min.js"></script>
<script src="/static/admin/js/app.js"></script>
<script type="text/javascript">
	function hasClass(elem, cls) {
	  cls = cls || '';
	  if (cls.replace(/\s/g, '').length == 0) return false; //当cls没有参数时，返回false
	  return new RegExp(' ' + cls + ' ').test(' ' + elem.className + ' ');
	}
	 
	function addClass(ele, cls) {
	  if (!hasClass(ele, cls)) {
	    ele.className = ele.className == '' ? cls : ele.className + ' ' + cls;
	  }
	}
	 
	function removeClass(ele, cls) {
	  if (hasClass(ele, cls)) {
	    var newClass = ' ' + ele.className.replace(/[\t\r\n]/g, '') + ' ';
	    while (newClass.indexOf(' ' + cls + ' ') >= 0) {
	      newClass = newClass.replace(' ' + cls + ' ', ' ');
	    }
	    ele.className = newClass.replace(/^\s+|\s+$/g, '');
	  }
	}
		document.querySelector(".login-button").onclick = function(){
				addClass(document.querySelector(".login"), "active")
				setTimeout(function(){
					addClass(document.querySelector(".sk-rotating-plane"), 
"active")
					document.querySelector(".login").style.display = "none"
				},800)
				setTimeout(function(){
					removeClass(document.querySelector(".login"), "active")
					removeClass(document.querySelector(".sk-rotating-plane"), 
"active")
					document.querySelector(".login").style.display = "block"
					alert("登录成功")
					
				},5000)
		}
</script>
	
	
</body>